<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="/index.html">
                    <i class="bi bi-house"></i>
                    <span>HOME</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-box-seam"></i><span>상품</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/productList.html">
                            <i class="bi bi-circle"></i>
                            <span>상품 관리</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/categoryList.html">
                            <i class="bi bi-card-text"></i>
                            <span>카테고리 관리</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/memberList.html">
                    <i class="bi bi-cart-check"></i>
                    <span>주문 관리</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/memberList.html">
                    <i class="bi bi-person"></i>
                    <span>회원 관리</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/reviewManagement.html">
                    <i class="bi bi-chat-left-dots"></i>
                    <span>리뷰 관리</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/memberList.html">
                    <i class="bi bi-file-earmark-text"></i>
                    <span>게시물 관리</span>
                </a>
            </li>
        </ul>

    </aside>
</body>
</html>