<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="fragments/header :: 'header'"></div>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:replace="fragments/sidebar :: 'aside'"></div>
<!-- End Sidebar-->

  <main id="main" class="main">
    <div th:if="${message}" class="alert alert-success" role="alert">
      <span th:text="${message}"></span>
    </div>
    <div class="col-lg-6">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">주문 정보</h5>

          <!-- Vertical Form -->
          <form class="row g-3" id="memberForm" action="/orderModify" method="post">
            <div class="col-6">
              <label for="orderNo" class="form-label">주문번호</label>
              <input type="text" class="form-control" id="orderNo" th:value="${order.orderNo}" readonly>
            </div>
            <div class="col-6">
              <label for="memName" class="form-label">주문자</label>
              <input type="email" class="form-control" id="memName" name="memName" th:value="${order.memName}" readonly>
            </div>
            <div class="col-12">
              <label for="productName" class="form-label">상품명</label>
              <input type="text" class="form-control" id="productName" name="productName" th:value="${order.productName}" readonly>
            </div>
            <div class="col-12">
              <label for="phone" class="form-label">연락처</label>
              <input type="text" class="form-control" name="phone" id="phone" th:value="${order.phone}" readonly>
            </div>
            <div class="col-12">
              <label for="address" class="form-label">배송지</label>
              <input type="text" class="form-control" name="address" id="address" th:value="${order.address}" readonly>
            </div>
            <div class="col-12">
              <label for="totalPrice" class="form-label">주문금액</label>
              <input type="text" class="form-control" name="totalPrice" id="totalPrice" th:value="${order.totalPrice}" readonly>
            </div>
            <div class="col-12">
              <label for="orderState" class="form-label">주문상태</label>
              <select class="form-select" id="orderState" name="orderState">
                <option th:each="state : ${orderStates}"
                        th:text="${state}"
                        th:selected="${state} == ${order.orderState}">
                </option>
              </select>
            </div>
            <input type="hidden" name="orderNo" th:value="${order.orderNo}" />
            <div class="text-center">
              <button type="submit" class="btn btn-primary">수정하기</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </form><!-- Vertical Form -->

        </div>
      </div>
    </div>
  </main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/footer :: 'footer'"></div>
<!-- End Footer -->
</body>

</html>