<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 추가</title>

</head>
<body>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Horizontal Form</h5>

        <!-- Horizontal Form -->
        <form>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">상품명</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputText">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">가격</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail">
                </div>
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">카테고리</label>
                <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">상품이미지</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" id="inputPassword">
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">추가하기</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form><!-- End Horizontal Form -->

    </div>
</div>

<h2>상품 정보 입력</h2>
<form id="productForm" method="POST">
    <label for="productName">상품명:</label>
    <input type="text" id="productName" name="productName" placeholder="상품명을 입력해주세요" required>

    <label for="productPrice">가격:</label>
    <input type="number" id="productPrice" name="productPrice" min="0" placeholder="가격을 입력해주세요" required>

    <label for="category">카테고리</label>
    <select id="category" required>
        <option value="1">아우터</option>
        <option value="2">상의</option>
        <option value="3">하의</option>
    </select>

    <label for="productImg">상품이미지 </label>
    <input type="file" id="productImg" name="productImg">

    <div>
        <button type="button" data-bs-toggle="modal" data-bs-target="#backModal">뒤로가기</button>
        <button type="button" onclick="">추가하기</button>
    </div>

</form>
</body>
</html>

