<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>상품 추가</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <div th:replace="fragments/header :: 'header'"></div>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <div th:replace="fragments/sidebar :: 'aside'"></div>
    <!-- End Sidebar-->

    <main id="main" class="main">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">상품 추가</h5>

            <!-- Horizontal Form -->
            <form action="/product" method="post" enctype="multipart/form-data">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">상품명</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="productName" placeholder="상품명을 입력해주세요" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">가격</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="productPrice" min="0" placeholder="가격을 입력해주세요" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">수량</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="productStock" min="0" placeholder="수량을 입력해주세요" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">카테고리</label>
                    <div class="col-md-4">
                        <select id="inputState" name="categoryNo" class="form-select" required>
                            <option selected disabled>카테고리를 선택해주세요</option>
                            <th:block th:each="category : ${categoryList}">
                                <option th:value="${category.categoryNo}" th:text="${category.categoryName}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">상품이미지1</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" name="productImg1">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">상품이미지2</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" name="productImg2">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">상품이미지3</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" name="productImg3">
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">추가하기</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </form>
            <!-- End Horizontal Form -->

        </div>
    </div>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <div th:replace="fragments/footer :: 'footer'"></div>
    <!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>